target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw

.idea

**/mvnw.cmd

data/
/mall-common/.classpath
/mall-product/.classpath
/renren-generator/.classpath
/mall-common/.factorypath
/mall-product/.factorypath
/mall-common/.project
/mall-product/.project
/renren-generator/.project
/.project
